/* NAVBAR */

.navBar {
  width: 100vw;
  margin-top: 0;
  background-color: rgb(98, 107, 202);
  color: white;
  font-size: 24px;
  padding: 5px;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navBar ul li {
  list-style: none;
  margin-right: 1em;
}

.navBar ul li:hover {
  color: rgba(0, 0, 0, 0.705);
  text-decoration: underline;
}

.navBar ul li:active {
  background-color: green;
}

/* WELCOME SECTION */

.welcomeSection {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #eeeeee;
  padding: 1em;
}

/* APPOINTMENT TABLE SECTION */
.appointmentTable {
  border: 3px groove aqua;
  border-radius: 10px;
  background-color: azure;
  margin: 10px auto;
  text-align: center;
}

.appointmentTable thead {
  font-size: 20px;
  color: blue;
  background-color:aquamarine
}

.appointmentTable td {
  padding: 5px;
  border-top: 1px solid black;
  font-size: 18px;
}
